@model ResetPasswordRequestViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LayoutAnonymous";
}

<div class="d-flex justify-content-center" style="margin-top: 3rem;">
    <div class="col-11 col-sm-8 col-md-5 col-lg-4">
        <div class="card shadow rounded-4 border-0">
            <div class="card-header text-light text-center rounded-top-4" style="background: linear-gradient(90deg, #7952b3, #6f42c1);">
                <h4 class="m-0">Reset Password</h4>
                <small>Please reset password to continue</small>
            </div>
            <div class="card-body p-4">
                @if (ViewBag.HasError != null && ViewBag.HasError)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @foreach (var error in ViewBag.Errors)
                        {
                            <p class="text-danger">@error</p>
                        }
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                }
                <form asp-controller="Login" asp-action="ResetPassword" method="POST">
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label fw-semibold">Password</label>
                        <input asp-for="Password" class="form-control rounded-pill shadow-sm" placeholder="Enter a new password" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label fw-semibold">Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-control rounded-pill shadow-sm" placeholder="Confirm password" />
                    </div>
                    <input type="hidden" asp-for="Token" />
                    <input type="hidden" asp-for="Id" />
                    <div class="d-flex justify-content-between mb-3">
                        <button type="submit"
                                class="btn w-50 me-1"
                                style="border: 1px solid #7952b3; color: #7952b3; background-color: transparent;"
                                onmouseover="this.style.backgroundColor='#7952b3'; this.style.color='white';"
                                onmouseout="this.style.backgroundColor='transparent'; this.style.color='#7952b3';">
                            Save
                        </button>
                        <a asp-controller="Login" asp-action="Index" class="btn btn-outline-warning float-end me-2"><i class="bi bi-arrow-left-short"></i> Back to login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
