@model UpdateFriendRequestViewModel
@{
    ViewData["Title"] = "Reject";
}

<div class="col-12 col-md-6 offset-md-3 ">
    <div class="card">
        <div class="card-header bg-info text-light">
            <h4 class="text-center">
                Are you sure want to reject the request -
            </h4>
        </div>
        <div class="card-body">
            <form asp-controller="FriendRequest" asp-action="Reject" method="POST">
                <input type="hidden" asp-for="Id" />

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger me-2"> Reject</button>
                    <a asp-controller="FriendRequest" asp-action="Index" class="btn btn-outline-warning"><i class="bi bi-arrow-left-short"></i> Back to list</a>
                </div>
            </form>
        </div>
    </div>
</div>
